<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Courses
      </li>
      <li
        (click)="selectCourse(course)"
        *ngFor="let course of courses"
        [ngClass]="{'active': course == selectedCourse}"
        class="list-group-item">
        {{course.title}}
      </li>
    </ul>
  </div>

  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Modules
      </li>
      <li
        (click)="selecteModule(module)"
        *ngFor="let module of selectedCourse.modules" class="list-group-item"
        [ngClass]="{'active': module == selectedModule}">
        {{module.title}}
      </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Lessons
      </li>
      <li
        (click)="selectLesson(lesson)"
        *ngFor="let lesson of selectedModule.lessons" class="list-group-item"
        [ngClass]="{'active': lesson == selectedLesson}">
        {{lesson.title}}
      </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Topics
      </li>
      <li
        (click)="selectTopic(topic)"
        *ngFor="let topic of selectedLesson.topics" class="list-group-item"
        [ngClass]="{'active': topic == selectedTopic}">
        {{topic.title}}
      </li>
    </ul>
  </div>

  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Widget
      </li>
      <li
        (click)="selectWidget(widget)"
        *ngFor="let widget of selectedTopic.widgets" class="list-group-item"
        [ngClass]="{'active': widget == selectedWidget}">
        {{widget.name}}
      </li>
    </ul>

  </div>
</div>
